<%- include('../../shared/includes/head.ejs', { pageTitle: 'Product Detail' }) %>
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main id="product-details">
    <header>
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
      <div id="product-info">
        <h1><%= product.title %></h1>
        <p><%= product.price %>€</p>
        <button class="btn">Add to cart</button>
      </div>
    </header>

    <p id="product-description"><%= product.description %></p>
  </main>
<%- include('../../shared/includes/footer.ejs') %>
