<%- include('../../shared/includes/head.ejs', { pageTitle: 'Your Cart' }) %>
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
    <h1>Your Cart</h1>
    <ul id="cart-items">
      <% for (let cartItem of locals.cart.items) { %>
        <li>
          <%- include('./includes/cart-item.ejs', { cartItem, csrfToken }) %>
        </li>
      <% } %>
    </ul>
    <div id="cart-total">
      <p>Total: €<span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>

      <% if (locals.isAuth && locals.cart.totalQuantity > 0) { %>
        <form action="/orders" method="POST">
          <button class="btn">Buy Products</button>
        </form>
      <% } else { %>
        <% if (locals.isAuth) { %>
            <p id="cart-total-fallback">
            Add items to proceed and purchase items.
          </p>
        <% } else { %>
          <p id="cart-total-fallback">
            Log in and add items to proceed and purchase items.
          </p>
        <% } %>
      <% } %>
    </div>
  </main>
<%- include('../../shared/includes/footer.ejs') %>
